/* Define theme variables */
:root {
  --base-color: #ffffff;
  --text-color: #121212;
  --accent-color: #9c27b0; /* Example light accent */
  --input-color: #121212;
}

[data-theme="dark"] {
  --base-color: #1F2937;
  --text-color: #f2f2f2;
  --accent-color: #503050;
  
}
/* cursor styles */
.cursor-dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--text-color);

}
.cursor-outline{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}
.cursor-dot,
.cursor-outline{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}
/* Apply variables */
body {
  background-color: #ffffff;/*fallback for older browsers*/
  background-color: var(--base-color);
  color: #121212; /* Fallback for older browsers */
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  width: 100vw;
  cursor: none; 
}

.dark {
  @apply bg-gray-800;
   .cursor-dot{
    background-color: #f2f2f2;
   }
   .cursor-outline{
    background-color: #f2f2f2;
   }
}


a {
  color: var(--accent-color);
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #1F2937;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --base-color: #ffffff;
  }
}

.cursor-dot,
.cursor-outline {
  transition: background-color 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .cursor-dot{
    background-color: #fff;
  }
  .cursor-outline{
    border:  1px solid #fff;
    box-shadow:  0 0 0 2px #fff;
  }
}
.card {
  padding: 2em;
}
/* might be delete-able */
.read-the-docs {
  color: #888;
}

body[data-theme="dark"] input {
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

body[data-theme="dark"] input:focus {
  border-color: #ffffff !important;
}

body[data-theme="dark"] textarea {
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

body[data-theme="dark"] textarea:focus {
  border-color: #ffffff !important;
}