/* Define theme variables */
:root {
  --base-color: #ffffff;
  --text-color: #121212;
  --accent-color: #9c27b0; /* Example light accent */
  --input-color: #121212;
}

[data-theme="dark"] {
  --base-color: #1F2937;
  --text-color: #f2f2f2;
  --accent-color: #503050;
}

/* Global styles */
* {
  cursor: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  width: 100vw;
}

/* Cursor styles */
.cursor-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--text-color);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.cursor-outline {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

/* Layout styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Component styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animations */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Theme styles */
@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #1F2937;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --base-color: #ffffff;
  }
}

/* Dark theme styles */
body[data-theme="dark"] input {
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

body[data-theme="dark"] input:focus {
  border-color: #ffffff !important;
}

body[data-theme="dark"] textarea {
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

body[data-theme="dark"] textarea:focus {
  border-color: #ffffff !important;
}

/* Miscellaneous styles */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}